<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>rank.jsp</welcome-file>
    </welcome-file-list>

    <!-- Parametros iniciais. Estes são recuperados lah no classe Requisicao -->
    <context-param>
        <param-name>user</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>database</param-name>
        <param-value>lp</param-value>
    </context-param>
    <context-param>
        <param-name>tableUsuario</param-name>
        <param-value>usuario</param-value>
    </context-param>
    <context-param>
        <param-name>tablePet</param-name>
        <param-value>pet</param-value>
    </context-param>

    <!-- os servlets que temos no programa -->
    <servlet>
        <servlet-name>Requisicao</servlet-name>
        <servlet-class>Requisicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Json</servlet-name>
        <servlet-class>Json</servlet-class>
    </servlet>

    <!-- a localizacao de cada servlet -->
    <servlet-mapping>
        <servlet-name>Requisicao</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Json</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
</web-app>
