body{
    margin-top: 5%;
    background-image: url(../photos/fundo.png);
    text-align: center;
}

.container-fluid{
	width: 40%;
	text-align: center;
	margin-top: 4%;
}
h2{
	font-family: 'Bangers', cursive;
}
table{
	margin-top: 5%;
	text-align: center;	
}
#basic-url{
    width: 50%;
    margin: auto;
    margin-top: 2%; 
    text-align: center;
}
#exampleModal{
    text-align: center;    
}
#botaoModal{
    background-color: black;
    float: right;
    margin-top: -3%;
    margin-bottom: 1%; 
}