
#telaTama{
	background-color: rgb(230, 230, 255);
	
	width: 100%;
	height: 80%;
	border: solid;	
}

#menu{
	background-color: black;
	margin: auto;
	width: 50%;
	height: 20%;
	padding: auto;
}

.status{
	color: white;
	display: inline-table;
	text-align: center;
	padding: 4%;
	margin-right: -1%;
	width:  33.33%;
	height: 100%;

}

.progress{
	margin-top: 5%;
}

#vida{
	background-color: red;
}


#Personagem{
    display: block;
    width: 100%;

}
#imgTama{
    margin-left:  46%;
    margin-top: 16%;
    margin-bottom: 15%;
}

#menuActions{	
    width: 100%;
    height: 20%;
}

#actions{
    color: white;
    display: inline-table;
    text-align: center;
    width:  100%;
    height: 100%;

}

input{
    background-color: black;
    margin-right: -0.5%;
    width: 15%;
    height: 100%;
	
}
