body{
    margin-top: 5%;
    background-image: url(../photos/background.png);
    text-align: center;
}

p.titleTamagotchi{
    color: #ff0000;
    font: 300% bold;
    font-family: tamagotchiFont;
    text-align: center;
}

input.login{
    width: 70%;
    font-size: 20px;
    font-family: tamagotchiFont;
}

input{
    border: solid chartreuse;
    height: 30px;
    text-align: center;
}

div.login{
    text-align: center;
    font-family: tamagotchiFont;
    font-size: 140%;
}

input.buttomLogin{
    margin-top: 10px;
    background-color: yellow;
    height: 50px;
    width: 100px;
    text-align: center;
    font: 30px bold;
    font-family: tamagotchiFont;
}

@font-face {
    font-family: tamagotchiFont;
    src: url(../font/waltographUI.ttf);
}