body{
    margin-top: 5%;
    background-image: url(../photos/background.png);
    text-align: center;
}
p.titleTamagotchi{
    color: #ff0000;
    font: 300% bold;
    font-family: tamagotchiFont;
    text-align: center;
    margin-bottom: -6%;
    margin-top: 4%;
}
.Cadastro{
    color: #ff0000;
    font: 200% bold;
    font-family: tamagotchiFont;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 4%;
}
.buttomCadastro{
    margin-top: -5%;
    padding-top: 1%;
    background-color: yellow;
    height: 15%;
    width: 30%;
    text-align: center;
    font: 30px bold;
    font-family: tamagotchiFont;
}
input.buttomLogin{
    margin-top: 2%;
    padding-top: 1%;
    background-color: yellow;
    height: 15%;
    width: 30%;
    text-align: center;
    font: 18px bold;
    font-family: tamagotchiFont;
}
.buttomGoCadastro{
    margin-top: 2%;
    padding-top: 1%;
    background-color: yellow;
    height: 15%;
    width: 30%;
    text-align: center;
    font: 15px bold;
    font-family: tamagotchiFont;
}
@font-face {
    font-family: tamagotchiFont;
    src: url(../font/waltographUI.ttf);
}
div.login{
    text-align: center;
    font-family: tamagotchiFont;
    background-color: rgb(255, 230, 230);
    font-size: 140%;
    width: 30%;
    height: 80%;
    margin: auto;
    border: solid;
}
input, button{
    border: solid;
    height: 15%;
    width: 50%;
    margin-bottom:  2%; 
    text-align: center;
    font-size: 20px;
    font-family: tamagotchiFont;
}
